<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--ユーザーの詳細-->
      <%= render 'users/user_info', user_found: @user_found %>
      <!--本の新規投稿-->
      <%= render 'books/new_book', book: @newbook %>
    </div>
    
    <div class="offset-md-1"></div>
    
    <div class="col-md-8">
      <!--全ユーザーの本の一覧-->
      <h2 class="title">Books</h2>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td>
              <%= link_to user_path(book.user_id) do %>
                <%= image_tag book.user.get_profile_image(100,100) %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(book.id) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td>
              <%= book.body %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>




